# Copyright (c) Jupyter Development Team.
# Distributed under the terms of the Modified BSD License.

# JupyterHub docker compose configuration file
version: "3"

services:
  hub:
    image: jupyterhub/jupyterhub:5.4.3
    container_name: jupyterhub
    restart: unless-stopped
    networks:
      - jupyterhub-network
    volumes:
      # The JupyterHub configuration file
      - ./config/jupyterhub_config.py:/srv/jupyterhub/jupyterhub_config.py:ro  
      # Bind Docker socket on the host so we can connect to the daemon from
      # within the container
      - "/var/run/docker.sock:/var/run/docker.sock:rw"
      # Bind Docker volume on host for JupyterHub database and cookie secrets
      - "jupyterhub-data:/data"
    ports:
      - "8000:8000"
    env_file:
      - .env
    environment:
      # This username will be a JupyterHub admin
      JUPYTERHUB_ADMIN: admin
      # All containers will join this network
      DOCKER_NETWORK_NAME: jupyterhub-network
      # JupyterHub will spawn this Notebook image for users
      DOCKER_NOTEBOOK_IMAGE: zhongsheng/base-notebook:python-3.10 #zhongsheng/base-notebook:python-3.10 | quay.io/jupyter/base-notebook:latest | jupyter/base-notebook:python-3.10
      # Notebook directory inside user image
      DOCKER_NOTEBOOK_DIR: /home/jovyan/work
      # Timezone, default by Asia/Shanghai
      TZ: ${TZ:-Asia/Shanghai}
volumes:
  jupyterhub-data:

networks:
  jupyterhub-network:
    name: jupyterhub-network
